<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AddPetUrl" value="https://petstore.swagger.io/v2/pet"/>
		<add key="FindByStatusUrl" value="https://petstore.swagger.io/v2/pet/findByStatus?status="/>
		<add key="DeletePetUrl" value="https://petstore.swagger.io/v2/pet/"/>
		<add key="GetByIdUrl" value="https://petstore.swagger.io/v2/pet/"/>
		<add key="UpdatePetUrl" value="https://petstore.swagger.io/v2/pet"/>
	</appSettings>
</configuration>